
/**
 * Variables and Bootstrap overrides
 */

// Colors
//...............

$color-blue-fountain	    : #4fbac4;
$color-blue-sky	    		: #79dfe8;
$color-blue-chill   		: #11759f;
$color-dark-grey			: #363636;
$color-atoll				: #bbbbbb;
$color-blue-anakiwa			: #95f6ff;
$color-lt-grey				: #a6a6a6;


$primary-color:          $color-blue-fountain;
$second-color:           $color-blue-sky;
$third-color:            $color-blue-chill;
$fourth-color:           $color-dark-grey;
$fifth-color:            $color-atoll;
$sixth-color:            $color-blue-anakiwa;
$seventh-color:          $color-lt-grey;

$body-bg:                #fff;
$text-color:             #1d1b1b;

// Fonts
//...............
$primary-font:           'Open Sans', Helvetica, Arial, sans-serif;
$title-font: 			 'Source Sans Pro', sans-serif;
$secondary-font:         "Arvo", Georgia, Times, serif;
$font-size:              14px;

//fonts-type
$font_thin:'';
$font_light: 300;
$font_regular: 400;
$font_smbold: 600;
$font_bold: 700;
$font_exbold: 800;

