<footer id="footer">
	<div class="footMenu">
		<div class="container">
			<div class="row">
			{{~#footmenu}}
				<div class="footMenu-item col-md-3">
					<h3 class="title-foot">{{title}}</h3>
					<ul>
						{{#list}}
							<li><a href="#">{{.}}</a></li>
						{{/list}}
					</ul>
				</div>
			{{~/footmenu}}
				<div class="foo-connect col-md-3">
					<h3 class="title-foot">Connect</h3>
					<div class="foo-contact">
						<p><i class="fa fa-phone"></i>0800 123 456</p>
						<p><i class="fa fa-envelope"></i><a href="#">info@yourcompany.com</a></p>	
					</div>

					<div class="foo-social">
				        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
				        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
				        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
				        <a href="#" class="google"><i class="fa fa-google"></i></a>
			        </div>
				</div>
			</div>
		</div>
	</div><!-- //footMenu -->

	{{#footer}}
	<div class="container">
		<div class="copyright">
            <div class="copyItem">&copy;{{copy}}</div>
            <div class="copyItem">{{{powered}}}</div>
	    </div><!-- //copyright -->
    </div>
	{{/footer}}
</footer> <!-- //FOOTER -->
