/** FOOTER
===================================*/
#footer{
	background-color: white;
	color: #a6a6a6;
}

.footMenu{
	position: relative;
	background-color: $color-dark-grey;
	color: white;
	padding: 50px 0;
	@media screen and (min-width: 48em){
		margin-bottom: 0;
	}

	.container{
		position: relative;
	}
}
.footMenu-item{
	text-align: center;
	color: #858585;
	ul{
		li{
			a{
				color: white;
				display: block;
    			padding: 1px 0;
				&:hover{
					color: $second-color;
					text-decoration: none;
				}
			}
		}
	}

	@media screen and (max-width: 62em){
		@include inline-block();
		width: 48%;
		text-align: left;
		margin-bottom: 20px;
    	padding-bottom: 20px;
	}
	@media screen and (max-width: 32em){
		display: block;
		width: 100%;
		border-bottom  : 1px solid #2D2A2A;
		padding-top: 0px;
	}
}

.title-foot{
		font-size: 28px;
		color: lighten($color-dark-grey, 20%);
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 20px;
		background: $fourth-color;
		@media screen and (min-width: 62em){
			text-align: center;
		}
	}

.foo-connect{

}
.foo-contact{
	margin-bottom: 25px;
	.fa{
		@include square(32px);
		border: 3px solid lighten($color-dark-grey, 60%);
		@include border-radius(100%);
		text-align: center;
		vertical-align: middle;
		font-size: 15px;
    	line-height: 25px;
    	color: lighten($color-dark-grey, 60%);
    	margin-right: 10px;
	}
	a{
		color: $primary-color;
	}
}

.foo-social{
	a{
		@include inline-block();
		margin: 0 5px;
		@include square(38px);
		background-color: #4f6cbd;
		color: white;
		font-size: 18px;
		line-height: 2em;
		text-align: center;
		@include border-radius(100%);
		&:first-child{
			margin-left: 0;
		}
		&.tw{background-color: #2e97e9}
		&.linkedin{background-color:#d9422c }
		&.google{background-color: #3b6ea2}
		.fa{
			&:before{
				@include inline-block();
			}
		}
		&:hover{
			background-color: $primary-color;
		}
	}
}

.copyright{
	padding: 20px 0 30px;
	overflow: hidden;
	text-align: center;
	font-size: 0.8em;
	text-transform: uppercase;
	@media screen and (min-width: 38em){
		text-align: left;
	}
	.copyItem{
		margin-bottom: 15px;
		@media screen and (min-width: 38em){
			float: left;
			margin-bottom: 0;
			&:last-child{
				float: right;
			}
		}

		a{
			color: $primary-color;
		}
	}
}

/** SOCIAL
===================================*/
.ss-social{
	text-align: center;
	padding: 15px 0 5px;
	background-color: $second-color;
	@media screen and (min-width: 62em){
		float: right;
		right: 0;
		top: 0;
		height: 100%;
		width: 80px;
		overflow: hidden;
		padding: 40px 0;
		background-color: #bbbbbb;
	}

	a{
		@include inline-block();
		@include square(57px);
		background-color: #516ebf;
		color: white;
		text-align: center;
		line-height: 57px;
		font-size: 30px;
		margin: 0 8px 10px;
		@include prefixed(transition, all 0.3s linear);
		&:hover{
			@include opacity(0.7);
		}

		&.tw{
			background-color: #2992e4
		}
		&.linkedin{
			background-color: #4376aa
		}
		&.google{
			background-color: #d53e28
		}
	}
}

