/** FORM
===================================*/

/*==== CHECKBOX DAN RADIO ======*/
.checkbox, .radio{
	font-size: 13px;
	label{
		padding-left: 0;
	}
	input[type="checkbox"]{
		
	}
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
    margin-left: 0;
    margin-right: 8px;
}


/* ======== CHECKBOX AND RADIO STYLE  ======== */

.custom-label {
  @include inline-block();
  width: auto;
  margin-right: .8em;
  cursor: pointer;
  .text-orange {
    text-decoration: underline;
  }
}

.custom-radio, .custom-check {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -0.15em;
  /* Adjust to for best fit */
  margin: 0 .4em;
  margin-left: 0;
  width: 27px;
  height: 27px;
  background: transparent image-url("check.png") 0 0 no-repeat;
}
.custom-radio {
  background-position: 0 0;
}
.custom-check.focus {
  background-position: top left;
}
.custom-radio.focus {
  background-position: -20px -20px;
}
.custom-check.checked {
  background-position: bottom left;
}
.custom-radio.checked {
  background-position: -40px -20px;
}
.custom-check.checked.focus {
  background-position: bottom left;
}
.custom-radio.checked.focus {
  background-position: -60px -20px;
}


/** BOOTSTRAP SELECT CUSTOM
===================================*/

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select .btn-default{
    background: white;
    border-radius: 0;
    height: 48px;
    padding-right: 25px;
    width: 100%;
    border: 1px solid #dddddd;
    color: #b8b4b4;
}

.bootstrap-select.btn-group .dropdown-toggle .caret{
  border-color: 4px solid #e51a2e;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret{
     border-bottom-color: #e51a2e;
}

/** VALIDATION
===================================*/
.wrap-validation{
    position: relative;
}
.has-error .bootstrap-select .dropdown-toggle, 
.error .bootstrap-select .dropdown-toggle,
.mainsearch .has-error .bootstrap-select .dropdown-toggle, 
.mainsearch .error .bootstrap-select .dropdown-toggle
{
    border-color: transparent;
     background-color: #696969;
}

.wrap-validation div.check-val.error input{
    border-color: transparent;
    background-color: #696969;
}

.wrap-validation span.error{
    color: #a94442;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    bottom: -20px;
    font-size: 0.8em;
}
.mainsearch .wrap-validation span.error{
    color: white;
}
