body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.6em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;	
	font-family: 'dharma_gothic_light', Source Sans Pro, sans-serif;
}

*:focus, *:active{
	outline: none;
}

a{
	@include prefixed(transition, all 0.3s linear);
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper{
	width: 100%;
	position: relative;
	@include clearfix();
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.wrapper-active{
		margin-right: -60%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

#main{padding-bottom: 0;}

/** CONTAINER
===================================*/
@media (min-width: 1200px) {
	.container{
		  width: 960px;
	}
}

.center-container{
	max-width: 780px;
	margin: 0 auto;
	@include clearfix();
}

/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

/** TITLE  & TEXT
===================================*/
.title-md{
	margin: 0;
	margin-bottom: 18px;
	font: 31px 'dharma_gothic_light', sans-serif;
	line-height: 1.1em;
	font-weight: 300;
	text-transform: uppercase;
	@media screen and (min-width: 48em){
		font-size: 41px;
	}

	strong{
		font-family: 'dharma_gothic_bold';
		color: $sixth-color;
	}
}

/** BUTTONS & LINKS
===================================*/
.btn-square{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	@include inline-block();
	color: white;
	background-color: $primary-color;
	text-align: center;
	font-weight: $font-smbold;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	line-height: 1.3em;
	padding: 18px 30px;
	@include prefixed(transition, all 0.3s ease);

	&.trans{
		background-color: transparent;
		-moz-box-shadow:    inset 0 0 1px 1px white;
		-webkit-box-shadow: inset 0 0 1px 1px white;
		box-shadow:         inset 0 0 1px 1px white;
	}
	&.second{
		background-color: $second-color;
	}
	&:hover, &:focus, &:active{
		@include opacity(0.7);
		color: white;
		text-decoration: none;
	}

	&.arrRight{
		background-image: image-url('btn-arrow.png');
		background-position: 89% 50%;
    	background-repeat: no-repeat;
    	padding-right: 50px;

    	&:hover{
    		background-position: 92% 50%;
    		@include opacity(1);
    		background-color: darken($primary-color, 10%);
    	}
	}
}


/** FORM
===================================*/
.form-control{
	@include border-radius(0);
	background-color: white;
}
*:focus{
	outline: none;
}

/** TABLE
===================================*/
.table-responsive{
	@media screen and (max-width: 767px) {
		overflow-y: hidden;
		overflow-x: scroll !important;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
	
}

/** BASE COLOR
===================================*/
.primary-color {color: $primary-color;}
.second-color {color: $second-color;}
.third-color {color: $third-color;}
.fourth-color {color: $fourth-color;}

/** BACKGROUND-COLOR
===================================*/
.bg-primary-color{
	background-color: $primary-color;
	color: white;
}
.bg-second-color{
	background-color: $second-color;
	color: #a6a6a6;
}
.bg-third-color{
	background-color: $third-color;
	color: white;
}
.bg-fourth-color{
	background-color: $fourth-color;
}