/** HEADER
===================================*/
#header{
	@include clearfix();
	padding: 20px 0;
	background: $primary-color;
	color: white;
	a{
		color: white;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
	@media screen and (min-width: 48em){
		background: transparent;
		position: absolute;
		top : 0;
		left: 0;
		width: 100%;
		z-index: 100;

		&.bg-header{
			background-color: rgba($color-dark-grey, 0.4);
		}
	}

	&.no-fixed{
		background-color: $primary-color;
		position: relative;
	}
}
.logo{
	text-align: center;
	margin-bottom: 20px;
	@include make-sm-column(5);
	@include make-md-column(4);
	.logo-thumb{
		//max-width: 180px;
		margin-right: 15px;
		float: left;
	}

	h2{
		overflow: hidden;
		font-size: 32px;
		line-height: 1em;
		margin: 0;
		padding: 25px 0;
	}
	@media screen and (min-width: 48em){
		text-align: left;
		margin-bottom: 0;
		.logo-thumb{
		}
	}
}

.banner-ads{
	@include make-sm-column(7);
	@include make-md-column(4);
	text-align: center;
	@media screen and (min-width: 48em){
		padding-top: 18px;	
		text-align: right;
	}
	@media screen and (min-width: 62em){
		text-align: center;
	}
}
.banner-ads-sub{
	@include make-md-column(8);
	text-align: center;
	@media screen and (min-width: 48em){
		padding-top: 23px;	
		text-align: right;
		float: right !important;
	}
}

.head-right{
	text-align: center;
	padding-top: 25px;
	@include make-sm-column(12);
	@include make-md-column(4);
	@media screen and (min-width: 48em){
		float: right !important;
		text-align: right;
		padding-top: 0;
	}
	@media screen and (min-width: 62em){
		padding-top: 23px;
	}
	.btn-square{
		margin-left: 10px;
	}
}

.header-action{
	#logintopbtn{
		overflow: hidden;
		color: #fff;
	    display: block;
	    font-size: 12px;
	    margin-top: -22px;
	    margin-bottom: 20px;
	    min-width: none !important;
	    width: 100%;
	    position: relative;
	    text-align: right
	}
}