/** HERO
===================================*/
.hero{
	@include clearfix();
	color: white;
	padding: 0 0 8%;
	background-repeat: no-repeat;
	background-position: center;
	@include background-size(cover);
	background-color: $fourth-color;
	background-attachment: fixed;
	position: relative;
	.hero-thumb{
		text-align: center;
		max-width: 530px;
		margin: 0 auto 35px;
		@media screen and (min-width: 62em){
			float: right;
			text-align: right;
			margin: 0;
		}
	}
	@media screen and (min-width: 48em){
		//padding: 8% 0 4%;
		padding: 145px 0 70px;
	}
	@media screen and (min-width: 62em){
		@include min-height(700px);
	}
}

.search-actionbar{
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	background: rgba($second-color, 0.7);
	border-bottom: 1px solid $second-color;
	padding: 20px 0;
	color: white;
	text-align: center;
	.desc{
		font-size: 18px;
		margin-bottom: 15px;
		text-transform: uppercase;

	}
	.btn-wrap{
		text-align: center;
		.btn-square{
			margin-bottom: 15px;
		}
		@media screen and (min-width: 38em){
			.btn-square{
				margin-bottom: 0;
			}
			.btn-square:last-child{
				margin-left: 15px;
			}
		}
		
	}
	@media screen and (min-width: 48em){
		text-align: left;
		position: absolute;
		.desc{
			float: left;
			padding-top: 15px;
			margin-bottom: 0;
		}
		.btn-wrap{
			float: right;
			text-align: right;
		}
	}
}

.hero-desc{
	text-align: center;
	padding: 12% 0 0;
	margin-bottom: 50px;
	@media screen and (min-width: 48em){
		padding-top: 10%;
	}
	h2{
		font-weight: 600px;
		font-size: 42px;
		margin: 0;
		margin-bottom: 35px;
		line-height: 1em;
		text-transform: uppercase;
		@media screen and (min-width: 48em){
			font-size: 90px;
			line-height: 0.85em;
		}
		span{
			color: lighten($third-color, 20%);
		}
	}
	.content-text{
		
	}
}


/** MAIN SEARCH
===================================*/
.mainsearch{
	@include clearfix();
	margin-bottom: 0;
	text-align: center;
	position: relative;
	z-index: 11;


	.form-box{
		background: rgba($third-color, 0.8);
		padding: 20px 20px 25px;
    	margin-bottom: 20px;
	}

	&.salinputwrap{
		padding: 15px 0;

	}
	.container{
		position: relative;
	}
	.form-group{
		margin: 0 15px;
		padding: 0;
	}
	.iteminputsal{
		float: none;
		width: 100%;
	}
	.btn-square{

	}

	.form-control{
		height: 48px;
		background-color: white;
	}
	.iteminputsal .form-control {
		height: 48px;
		background-color: white;
	}

	.bootstrap-select > .btn {
	    width: 100%;
	    padding-right: 25px;
	    height: 48px;
	    -moz-border-radius: 0;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    background-color: white;
	}

	.caret{
		border-top-color: $primary-color;
	}
	.btn-group.bootstrap-select{
		height: auto;
		@include clearfix();
	}

	.btn-square{
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.mainsrc-title{
		text-align: left;
		margin: 0;
		font-family: 'Open Sans', Helvetica, Arial;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		span{
			@include inline-block();
			padding: 12px 20px 13px;
			background-color: rgba($third-color, 0.8);
			color: white;
		}
		
	}
}
.src-group{
	margin-bottom: 27px;
	position: relative;
	@media screen and (min-width: 62em){
		width: 29%;
		@include inline-block();
		margin-bottom: 0;
		padding: 0 8px;
	}
	@media screen and (min-width: 62em) and (max-width: 75em){
		width: 28%;
	}
	&:first-child{
		padding-left: 0;
	}
	&:last-child{
		padding-right: 0;
	}
}
.src-group-btn{
	text-align: center;
	@include inline-block();
	margin-top: 20px;
	@media screen and (min-width: 62em){
		text-align: right;	
		margin-top: 0;
	}
}


/** CONTRIBUTION
===================================*/
.section-contribution{
	background-color: $third-color;
	color: white;
	@include clearfix();
	padding-top: 50px;
	padding-bottom: 50px;

	.desc{
		overflow: hidden;
		.btn-square{
			margin-top: 20px;
		}
	}

	figure{
		//max-width: 370px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 10;
		@include make-sm-column(6);
		margin-bottom: 30px;
		@media screen and (min-width: 48em){
			margin-right: 15px;
			text-align: left;
		}
	}
}

/** CONTTIBUTED
===================================*/
.contributed{
	background-color: $fourth-color;
	    padding: 30px 0 48px;
	article{
		@include make-sm-column(4);
		color: white;
		h3{
			margin-bottom: 0;
			margin-bottom: 10px;
			font-size: 28px;
			color: $primary-color;
		}

		.btn-wrap{
			overflow: hidden;
			text-align: right;
		}
		.btn-square{
			margin-top: 20px;
		}
	}
	
}

/** EMPLOYEE REASON
===================================*/
.emreason{
	padding: 50px 0;
	background-color: $primary-color;
	.title-md{
		text-align: center;
		margin-bottom: 48px;
		color : white;	
	}
}

.emreason-box{
	position: relative;
	z-index: 10;
	margin-bottom: 30px;
	color: white;
	text-align: center;
	padding: 15px 5px;
	@include border-radius(5px);
	@include prefixed(transition, all .3s linear);

	&:hover{
		background-color: darken($primary-color, 5%);
	}
	@media screen and (min-width: 48em){
		margin-bottom: 0;
	}
	a{
		color: white;
		&:hover{
		 text-decoration: none;		
	 }
	}
	.inside{
		padding: 10px;
	}
	figure{
		position: relative;
		@include square(138px);
		@include clearfix();
		margin: 0 auto 25px;
		@include border-radius(100%);
		border: 7px solid $sixth-color;
		text-align: center;
		padding: 30px;
		.emreason-numb{
			position: absolute;
			left: -30px;
			top: -6px;
			@include square(32px);
			@include inline-block();
			@include border-radius(100px);
			background-color: $primary-color;
			border: 2px solid white;
			font-size: 19px;
			line-height: 26px;
		}

	}

	h3{
		font-size: 28px;
		margin: 0;
		margin-bottom: 15px;
		text-align: center;
	}

	.content-text{
		font-size: 0.9em;
	}
}

/**  HOME TABLE
===================================*/
.sshome-table{
	padding: 50px 0	;
	position: relative;
	z-index: 12;
	background-color: $primary-color;
	@media screen and (min-width: 62em){
		padding-bottom: 70px;
	}
	.table.tabelhome{
		width: 100%;
	}

	header{
		color: white;
		margin-bottom: 13px;	
		.title-md{
			color: white;
			margin-bottom: 0;
			font-size: 28px;
			margin-bottom: 25px;
		}
	}

	.table-responsive{
		border : none ;
	}
}

.table{
	&.tb-contrib{
		th{
			background-color: darken($primary-color, 10%);
			border: none;
			text-transform: uppercase;
			padding: 18px 14px;
			font-size: 0.9em;
			border-left: 1px solid $primary-color;
			color: white;

			&:first-child, &:last-child {
				border-left: none;
			}
		}

		td{
			background-color: white;
			border: none;
			padding: 10px 13px;
			color: #6e6e6e;
			font-size: 19px;
			font-family: 'dharma_gothic_light';
			border-left: 1px solid #e0e1e1;
			position: relative;
			vertical-align: middle;
			font-weight: $font_smbold;

			
			&.td-space-head{
				border: none !important;
				padding: 15px 0;
				&:first-child{
					background-color: transparent;
				}
				@media screen and (min-width: 48em){
					background-color: transparent;
					
				}	
			}
			&.td-space{
				background-color: transparent;
				padding: 6px;
				border: none !important;
				&:first-child{
					background-color: transparent;
				}
			}

			&:first-child{
				color: $third-color;
			}
			&:last-child{
				border-left: none;
				padding-right: 8px;
			}

			&.new{
				background-image: image-url('ribbon_new.png');
				background-repeat: no-repeat;
				background-position: left top;
				background-size: 42px auto;
			}

			.tb-salary{
				display: block;
				text-align: center;
				font-weight: $font-exbold;
				font-size: 20px;
			}

			&.action{
				border-left: none;
				
			}

			.btn-tbDetail{
				background-color: $third-color;
				color: white;
				font-size: 0.6em;
				display: block;
				color: white;
				text-align: center;
				font-weight: $font-bold;
				text-transform: uppercase;
				font-family: 'Open Sans', sans-serif;
				padding: 15px 10px;

				&:hover{
					text-decoration: none;	
					background-color: darken($primary-color, 8%);
				}
			}
		}
	}
}

.sshome-table-desc{
	text-align: center;
	padding-top: 30px;
	color: white;
	.title-md{
		font-size: 28px;
		margin-bottom: 25px;
	}
}


/** JOIN US
===================================*/
.ss-join{
	padding: 50px 0;
	.title-md{
		
	}
	.container{
		position: relative;
	}
	header{
		margin-bottom: 30px;
		text-align: center;
		color: $seventh-color;
		.title-md{
			margin-bottom: 25px;
		}
	}

	.form-groupBtn{
		text-align: center;
		margin-top: 20px;
	}

	.btn-square{
		background-color: $third-color;
	}

	.form-control{
		height: 43px;
	}
}

