/** COMMMENT
===================================*/
.border-wrap{
	border-top: $fourth-color solid 1px;
    border-left: $fourth-color solid 1px;
    border-right: $fourth-color solid 1px;
    width: 100%;
    @include min-height(100px);
    background: #fff;
    position: relative;
    padding: 40px 20px;
}

.box-notif{
	background: #f2f2f2;
    border: #E0E0E0 solid 1px;
    width: 100%;
    min-height: 50px;
    font-size: 14px;
    color: #3c3a3a;
    text-align: center;
    padding: 20px;
    line-height: 1.5em;
    position: relative;
    z-index: 10;
   	@media screen and (min-width: 48em){
    	padding: 30px 60px;	
    	font-size: 18px;
    	 line-height: 1.6em;
    }
    span{
    	color: $primary-color;
    	font-size: 0.8em;
    	display: block;
    	margin-top: 30px;
    }

    &:before{	
    	    content: '';
			@include size(54px, 27px);
			position: absolute;
			z-index: 1;
			margin: auto;
			left: 0;
			right: 0;
			bottom: -27px;
			background: transparent image-url('arrowme3.png') 0 0 no-repeat;
    }
}

.greenprogress{
	font-size: 18px;
    margin: 11px auto 10px;
    width: 100%;
    max-width: 470px;
    @media scree and (min-width: 62em){
    	width: 50%;
    }
	.progreswrap {
	    background: $primary-color;
	    overflow: hidden;
	    position: relative;
	    margin-bottom: 10px;
	}

	.progresbar {
	    background: #fff;
	    left: 0;
	    position: absolute;
	    top: -3px;
	}

	.press {
	    width: 100%;
	    height: 27px;
	    border: 3px solid $primary-color;
	}
}

/** TITLE FORM
===================================*/
.title-formWrap{
	margin-bottom: 40px;
	width: 100%;
}
.title-form{
    background: $primary-color;
    font-family: 'Open Sans';
    color: #fff;
    @include inline-block();
    padding: 12px 20px;
    position: relative;
    font-size: 14px;
    z-index: 10;
    margin-top: 50px;
    &:before{
    	content:'';
    	position: absolute;
    	left: 0;
    	bottom: -20px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 21px 21px 0 0;
		border-color: $primary-color transparent transparent transparent;
    }
}


.form-wrapper {
    background-color: #fafafa;
    min-height: 100px; 
    border: 1px solid #E0E0E0;
    position: relative;
    padding: 25px;
    @include clearfix();
    @media screen and (min-width: 48em){
    	 padding: 45px 30px 45px;
    }

    .in-left {
    	@media screen and (min-width: 48em){
			width: 50%;
			float: left;
			padding-right: 15px;
    	}
	}
	.in-right	{
    	@media screen and (min-width: 48em){
			width: 50%;
			float: left;
    	}
	}

	.label-field {
	    color: #454545;
	    display: block;
	    margin-bottom: 10px;
	    margin-left: 0;
	    margin-top: 6px;

	    strong{
	        color: $primary-color;
    		margin-right: 9px;
    		@include inline-block();
		}
	}

	.cx-boxNobonus{
		color: lighten($text-color, 20%);
		strong{
			color: lighten($text-color, 5%);
		}
		.checkbox{
			margin: 0;
		}
		/*@media screen and (min-width: 48em){
			float: right;
		}*/
	}

	.box-field{
		margin-bottom: 20px;
		position: relative;
	}

	input[type="text"], 
	input[type="email"],
	input[type="website"], 
	input[type="search"], 
	input[type="url"]{
		height: 48px;
		background-color: white;
		&.disableinp{
			background-color: #E8E8E8;
		}
	}

	.form-control{
		height: 48px;
		background-color: white;
		&.disableinp{
			background-color: #E8E8E8;
		}
	}
}

.checkform1 {
	margin-top: 30px;
	display: block;
	position: relative;
	@incude clearfix();
	.custom-label{
			float: right;
			margin-top: 15px;
			margin-right: -4px;
	}
	span {
    	font-weight: 700;
    	display: block;
    	color: $second-color;
    }
}


.note3 {
    font-weight: 700;
    color: #555;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    max-width: 360px;
    padding-top: 30px;
    position: relative;
    clear: left;
}